[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
detox = "*"
doc8 = "*"
ipython = "*"
pew = {extras = ["pythonz"],version = "*"}
pip = "*"
prospector = {extras = ["with_everything"],version = "*"}
python-language-server = {extras = ["all"],version = "*"}
pyyaml = "*"
requests = "*"
tox = "*"
wheel = "*"
yapf = "*"
yq = "*"
